.ant-input::placeholder {
  color: white;
  background-color: #2148c0;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  font-family: "Montserrat", sans-serif;
}

.ant-input {
  background-color: #2148c0;
  color: white;
  margin-left: 8px;
  font-family: "Montserrat", sans-serif;
}
